version: '3.8'

services:
  mysql:
    image: mysql:8
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: projectdb
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app-network

  backend:
    image: project-management-backend:latest   # Jenkins-built backend image
    container_name: project-backend
    ports:
      - "8585:8585"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      - mysql
    networks:
      - app-network
    volumes:
      - ./backend/uploads:/app/uploads  # optional if your backend stores files

  frontend:
    image: project-frontend:latest          # Jenkins-built frontend image
    container_name: project-frontend
    ports:
      - "3000:80"
    environment:
      - REACT_APP_API_URL=http://backend:8585
    depends_on:
      - backend
    networks:
      - app-network

volumes:
  mysql_data:

networks:
  app-network:
    driver: bridge
