version: '3.8'

services:
  mysql:
    image: mysql:8
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: projectdb
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app-network

  app:
    image: project-management-backend:latest   # use Jenkins-built image
    container_name: project-backend
    ports:
      - "8585:8585"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      - mysql
    networks:
      - app-network
    volumes:
      - ./uploads:/app/uploads

volumes:
  mysql_data:

networks:
  app-network:
    driver: bridge
